<nav class="navbar navbar-dark bg-dark" style="margin-bottom: 150px;"> </nav>

<div class="container py-3 my-3">
   <div class="card">
     <div class="card-header text-center">
       <h3>Parent component</h3>
     </div>
     <div class="card-body" > 
       <strong>Pass data:</strong><br>
       Name:<input type="text" class="form-control" [(ngModel)]="enterName"><br>
       Surname:<input type="text" class="form-control" [(ngModel)]="enterSurname">
       <input type="button" value="Send" (click)="transfer()" class="btn btn-primary my-2">
       
       <!-- <button class="btn btn-primary"  (click)="show()">Show</button> -->

       
       <app-home [parentDataName] = "parentDataName" ></app-home>
       <app-home [parentDatasurname] = "parentDatasurname" ></app-home>
      
      <strong>{{value}}</strong>
      <!-- <app-home (sendData)="sendData($event)"></app-home> -->
      <br>
      <Strong>Here Is @OUTPUT Work</Strong>
      <app-homeoutput (newItemEvent)="addItem($event)"></app-homeoutput>

      <ul>
        <li *ngFor="let item of items">{{item}}</li>
      </ul>
      </div>
   </div>
</div>